# gitignore
# docker file 
Dockerfile

# node modules
node_modules

# build files

# logs
logs

# dotenv environment variables
# .env

# local env files
# .env.local

# IDEs and editors
.vscode

# misc


